
body {
  font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
  background: black;
  height: 100%;
  color: #444;
  padding: 0;
  margin: 0;
}


ul {
  margin: 0;
  padding: 0;
}
a {
  color: #222;
  text-decoration: none;
}
 
a:hover {
  color: #ececec;
  text-decoration: underline;
}
 
.main {
  width: 80%;
  height: 100%;
  margin: auto;
  background: white;
}

img.gravatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: 0 10px;
  overflow: hidden;
  text-align: center;
  margin: 0;
}
header h1 {
  margin-bottom: 2px;
}

header h5 {
  margin: 0;
}

nav {
  position: absolute;
  bottom: 0;
}

nav ul, ul.entries {
  display: inline-block;
  list-style-type: none;
}
nav li a {
  float: left;
  margin: 5px; 
}
.content {
  width: 75%;
  padding: 10px;
  margin: auto;
}

.bio {
  width: 75%;
  margin: auto;
}
ul.entries li {
  position: relative;
  margin: 20px auto;
  padding: 20px;
  background: #ececec;
  width: 600px;
}
 
ul.entries a {
  color: #ececec;
}
ul.entries a:hover {
  color: #fff;
}
 
footer {
  font-size: 0.65em;
  text-align: center;
}

/* Select Projects CSS */
.projects {
  width: 75%;
  margin: auto;
}
.projects header {
  margin-bottom: 0;
}

.projects.examples {
  margin: auto;
}
.blurb {
  width: 30%;
  display: inline-block;
}

.blurb img {
  margin: auto;
}