body {
  font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
  background: black;
  height: 100%;
  color: #444;
  padding: 0;
  margin: 0;
}

a {
  color: #222;
  text-decoration: none;
}
 
a:hover {
  color: #444;
  text-decoration: underline;
}
 
.main {
  width: 80%;
  height: 100%;
  margin: auto;
  background: white;
}

img.gravatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Header Begin */
header {
  padding: 0 10px;
  overflow: hidden;
  text-align: center;
  margin: 0;
}
header h1 {
  margin-bottom: 2px;
}

header h5 {
  margin: 0;
}
/* Header End */

/* Footer Begin */
footer {
  padding: 0 10px;
  overflow: hidden;
  text-align: center;
  margin: 0;
}

footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  display: inline-block;
  list-style-type: none;
}
footer li a {
  float: left;
  margin: 5px;
  font-size: 15px;
}
/* Footer End */

.content {
  width: 75%;
  padding: 10px;
  margin: auto;
}

.bio { width: 100% }
.bio p {
  width: 100%;
  text-align: center;
}

/* Select Projects Begin */
.projects {
  width: 75%;
  margin: auto;
}
.projects header {
  margin-bottom: 0;
}

.projects .examples {
  margin: auto;
}
.blurb {
  height: 33%;
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin: auto;
}

.blurb img {
  max-width: 100%;
  margin: auto;
}

.app_title {
  width: 100%;
  text-align: center;
  padding-bottom: 2px;
}

.app_repo {
  width: 100%;
  text-align: center;
  padding-bottom: 2px;
  font-size: 8pt;
}

.app_img {
  text-align: center;
  height: 164px;
  padding: auto;
}

.proj_img {
	max-height: 159px;
}

.description {
  font-size: 9pt;
  padding: 3px;
}
/* Select Projects End */

/*Resume Skills List Begin*/
.resume {
  padding: 50px;
}

.resume h4 {
  margin: 0;
}
.skills {
  padding-left: 10px;
}

.skills li{
  list-style-type: none;
}
.comment {
  font-size: 12px;
  padding-left: 10px;
}
/* Resume Skills List End*/

/* Resume Experience List Begin */
.experience {
  margin-top: 8px;
}
.host {
  list-style-type: none;
}
.position {
  font-size: 10px;
  list-style-type: none;
}
.task {
  font-size: 10px;
  margin-left: 20px;
}
/* Resume Experience List End */

/* Resume Education List Begin */
.degree {
  margin-top: 0px;
}

.degree li{
  list-style-type: none;
}

.focus {
  font-size: 10px;
}
/* Resume Education List End */
