---
layout: default
---
header
  h1 Nicholas Lee
  h5 Always Learning, Never Bored
 
.content
  img.gravatar src="./img/headshot.jpg"

.bio
  p
    | Hey, I'm Nick! I like coding, sports, math, and food.

.projects
  header
    h3 
      | Selected Projects
  .examples
    .flik.blurb
      .app_title
        a href="http://flikbites.herokuapp.com/" target="_blank"
          |FlikBites
        .app_img
          a href="http://flikbites.herokuapp.com/" target="_blank"
            img src ='./img/flik-bites.jpeg'
        .app_repo
          a href="https://github.com/leeacto/flik_bites" target="_blank"
            | Repo
      .description
        | FlikBites is a crowd-sourced visual menu of Chicago's restaurants. Restaurants and dishes are displayed as cards with pictures on the front and descriptions on the back.
    
    .cheetah.blurb
      .app_title
        a href="http://cheetah-gym-crossfit.herokuapp.com/" target="_blank"
          | Cheetah Crossfit
      .app_img
        a href="http://cheetah-gym-crossfit.herokuapp.com/" target="_blank"
          img src ='./img/cheetah.jpeg'
      .app_repo
        a href="https://github.com/leeacto/cheetah_gym_app" target="_blank"
          | Repo
      .description
        | Cheetah Crossfit is an app that allows athletes and coaches to track performance over time. Results are aggregated to help coaches schedule future workouts.
    
    .bro.blurb
      .app_title
        a href="http://bro-tweets.herokuapp.com/" target="_blank"
          | BroTweets
      .app_img
        a href="http://bro-tweets.herokuapp.com/" target="_blank"
          img src ='./img/bro-tweets.jpeg'
      .app_repo
        a href="https://github.com/leeacto/bro_tweets_sinatra" target="_blank"
          | Repo
      .description
        | BroTweets scrapes Twitter for recent tweets containing user-defined keywords and displays them on Google Maps. Want to know who says YOLO all the time? Use BroTweets.
