---
layout: default
---

header
  h1 
    | Resume
  h5 
    | Abridged Version (full pdf 
    a href = "../doc/Nicholas Lee Resume.pdf"
      | here)

.resume
  h4
    | About Me
  p
    | I love that coding allows me to find creative solutions to problems.

  h4
    | Skills
  ul.skills
    li
      | Ruby
      li.comment
        | Most of my work is in Ruby. I'm always learning new things about ActiveRecord.
    li
      | Rails
      li.comment
        | Since I usually work in Ruby, it makes sense that I have a Rails backend.
    li 
      | JavaScript
      li.comment
        | I mainly use jQuery, but some work is done in CoffeScript as well.
    li
      | Testing
      li.comment
        | I'm a big fan of unit testing and also testing integrations on API endpoints.
    li
      | Service Oriented Architecture
      li.comment
        | I typically deal with services communicating via API calls. I think it's fun, and makes for better portability.

  h4 Select Projects
  .projects
    .examples
      .talk.blurb
        .app_title
          a href="http://talk.gg/" target="_blank"
            | Talk.gg
        .app_img
          a href="http://talk.gg" target="_blank"
            img.proj_img src ='../img/talk.png'
        .description
          br
          | Talk.gg is a WebRTC-powered app that easily allows eSports gamers to communicate while playing games. Completely free and no download required.
      .brain.blurb
        .app_title
          a href="http://brainstormchi.com/" target="_blank"
            | BrainstormChi.com
        .app_img
          a href="http://brainstormchi.com" target="_blank"
            img.proj_img src ='../img/bs.png'
        .description
          br
          | BrainstormChi is a site that allows customers to manage single-issue comic book requests as well as subscriptions.

  h4 Experience
  ul.experience
    li.host
      | Sleepy Giant Entertainment
    li.position
      | Software Engineer (Nov 2013 - Present)
    li.task
      | Use Service Oriented Architecture to build websites for popular online computer games
    li.host
      | Dev Bootcamp
    li.position
      | Teaching Assistant (Oct 2013 - Nov 2013)
    li.task
      | Mentored students on topics ranging from Ruby and SQL to Rails and JavaScript
    li.host
      | Dev Bootcamp
    li.position
      | Student (Aug 2013 - Oct 2013)
    li.task
      | Learned fundamentals of web development by coding complex logic problems
    li.task
      | Practiced positive development habits like TDD and Separation of Concerns
    li.task
      | In addition to the 70+ hours coding each week, I practiced non-technical skills like code reviews and feedback
    li.host
      | Groupon
    li.position
      | Revenue Management Analyst (Apr 2012 - Aug 2013)
    li.task
      | Synchronized Salesforce, Business Intelligence, and MS Access to monitor Groupon’s travel business at a daily scale
    li.task
      | Wrote VBA Excel code to provide sales and management team with tools to monitor scheduled deals as well as potential deals based on feature cadence

  h4 Education
  ul.degree
    li.school
      | University of Wisconsin - Madison
    li.focus
      | Bachelor of Science - Mathematics & Finance - Dec 2007
