<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Nicholas Lee </title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <div class="main">
    <header>
      <h1> Nicholas Lee </h1>
      <h5>Always Learning, Never Bored</h5>
    </header>
    {{ content }}
    <footer>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </footer>
  </div>
</body>

</html>